body {
    color: maroon;
    background-color: linen;
    font-size: 1.05em;
    font-family: "Century Gothic", Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    body {
        margin-left: 5px;
        margin-right: 5px;
    }
}

h1 {
    color: navy;
    background-color: lightblue;
}

h2 {
    color: cornflowerblue;
    background-color: lightsteelblue;
    width: 7em;
    font-weight: lighter;
}

@media screen and (max-width:600px) {
    h2 {
        font-weight: normal;
    }
}

h3 {
    color: darkgoldenrod;
    margin-left: 25px;
}

strong {
    background-color: beige;
}

footer {
    background-color: lavenderblush;
    width: 50em;
    font-style: italic;
}

a:link {
    color: royalblue;
}

a:visited {
    color: darkorchid;
}

a:hover {
    color: khaki;
}

a:active {
    color: lightsalmon;
}

ul, li {
    font-size: large;
    padding-left: 30px;
    padding-bottom: 10px;
}

dfn#term {
    color: slategray;
}

p em {
    text-decoration: underline;
}

p.intro {
    font-style: italic;
    color: purple;
}

img#altflag {
    width: 10em;
    margin-top: 20px;
}

img#battle {
    width: 400px;
    float: right;
}

div.AftermathBody {
    margin: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: dashed;
    border-color: burlywood;
}

@media screen and (orientation: landscape) {
    div.AftermathBody {
        width: 70em;
    }
}

@media screen and (orientation: portrait) {
    div.AftermathBody {
        width: 45em;
    }
}

div.AftermathEnds {
    color: purple;
}

div.navbar {
    display: flex;
}

div.link {
    display: block;
    border: 1px;
    border-style: solid;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    margin: 0.5em;
    justify-content: center;
}

div.infobar {
    display: flex;
}

div.info {
    display: block;
    padding: 0.5em 1em;
    margin: 0.5em;
    justify-content: center;
}

